<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application tools:node="merge">

        <!-- FirebaseMessagingService performs security checks at runtime, no need for explicit permissions despite exported="true" -->
        <service
            android:name="co.smartreceipts.push.services.MyFirebaseMessagingService"
            android:exported="true"
            tools:ignore="ExportedService"
            tools:node="remove">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/Theme.SmartReceipts.OSS"
            tools:node="remove" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/Theme.SmartReceipts.OSS"
            tools:node="remove" />

        <activity
            android:name="co.smartreceipts.android.subscriptions.SubscriptionsActivity"
            tools:node="remove" />

    </application>

</manifest>
